# Dependenciesnode_modules





























yarn-error.log*yarn-debug.log*npm-debug.log*# LogsThumbs.db.DS_Store# OS*~*.swo*.swp.idea/.vscode/# IDE.env.*.local.env.local.env# Environment/build/dist# Production.pnp.js/.pnpnode_modules/